<a class="btn btn-social-icon btn-lg btn-facebook" href="{{ url("social:begin", "facebook") }}">
	<span class="fa fa-facebook"></span>
</a>
<a class="btn btn-social-icon btn-lg btn-vk" href="{{ url("social:begin", "vk-oauth2") }}">
	<span class="fa fa-vk"></span>
</a>
{#<a class="btn btn-social-icon btn-lg btn-github" href="{{ url("social:begin", "github") }}">#}
{#	<span class="fa fa-github"></span>#}
{#</a>#}
<a class="btn btn-social-icon btn-lg btn-google" href="{{ url("social:begin", "google-oauth2") }}">
	<span class="fa fa-google"></span>
</a>
<a class="btn btn-social-icon btn-lg btn-yahoo" href="{{ url("social:begin", "yandex-oauth2") }}">
	<span class="fa fa-yahoo"></span>
</a>
