{% extends 'registration/base.html' %}
{% block subtitle %}Смена пароля{% endblock %}


{% block container %}
    <div class="content-side">
        <h1>Смена пароля</h1>
    <form class="form-horizontal" action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{#        <input type="hidden" name="next" value="{{ form.next }}" />#}
        <fieldset>
            <div class="form-group">
                <label for="password" class="control-label col-xs-2">Старый пароль</label>
                <div class="col-xs-2">
                    {{ form.old_password | replace_css_class('form-control') | safe }}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-xs-2">Новый пароль</label>
                <div class="col-xs-2">
                    {{ form.new_password1 | replace_css_class('form-control') | safe }}
                </div>
            </div>
            <div class="form-group">
                <label for="password2" class="control-label col-xs-2">Повторите пароль</label>
                <div class="col-xs-2">
                    {{ form.new_password2 | replace_css_class('form-control') | safe }}
                </div>
                {% if form.new_password2.errors %}
                    <div class="text-warning">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>
            <br><br><br>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-4">
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                </div>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock container %}
