{% extends 'payments/base.html' %}

{% block container %}
    <div class="content-side">
        <h1>Проверьте правильность выбора тарифа</h1>
        <p>
            Сумма: {{ tstiff.cost }} руб. Срок доступа: {{ tariff.paid_days }} дней.
        </p>
        <div id="w1widget"></div>
        <script>
            W1.widget({
                "pt": "WalletOneRUB,CreditCardRUB,SberOnlineRUB,AlfaclickRUB,TinkoffRUB,MtsRUB,BeelineRUB,MegafonRUB,EurosetRUB,ContactRUB,QiwiWalletRUB,YandexMoneyRUB,SvyaznoyRUB",
                "logosSize": "mid",
                "grayscale": false,
                "background": "black",
                "fixWidth": "",
                "container": "w1widget"
            });
        </script>
        <form method="post" action="https://wl.walletone.com/checkout/checkout/Index">
            {% for field in form.fields %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Оплатить"/>
        </form>
    </div>
{% endblock container %}