{% extends 'payments/base.html' %}

{% block container %}
    <div class="content-side">
        <h1>Проверьте правильность выбора тарифа</h1>
        <div id="w1widget"></div>
        <script>
            W1.widget({
                "pt": "WalletOneRUB,CreditCardRUB,SberOnlineRUB,AlfaclickRUB,TinkoffRUB,MtsRUB,BeelineRUB,MegafonRUB,EurosetRUB,ContactRUB,QiwiWalletRUB,YandexMoneyRUB,SvyaznoyRUB",
                "logosSize": "mid",
                "grayscale": false,
                "background": "black",
                "fixWidth": "",
                "container": "w1widget"
            });
        </script>
        </p>
        <form method="post" action="https://wl.walletone.com/checkout/checkout/Index">
            <input name="WMI_MERCHANT_ID"    value="123456789012" type="hidden"/>
            <input name="WMI_PAYMENT_AMOUNT" value="10.00"/>
            <input name="WMI_CURRENCY_ID"    value="643" type="hidden"/>
            <input name="WMI_DESCRIPTION"    value="Оплата демонстрационного заказа" type="hidden"/>
            <input name="WMI_SUCCESS_URL"    value="{{ url('payment_success') }}" type="hidden"/>
            <input name="WMI_FAIL_URL"       value="{{ url('payment_fail') }}" type="hidden"/>
            <input type="submit"/>
        </form>
    </div>
{% endblock container %}