{% extends 'blog/base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/highlight/railscasts.css') }}">
    <script src="{{ static('js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock extra_head %}

{% block subtitle %} - {{ title }}{% endblock %}

{% block content %}
    <br /><br />
    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{ article.title }}</h1>

    <!-- Author -->
{#    <p class="lead">#}
{#        by <a href="#">Start Bootstrap</a>#}
{#    </p>#}

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Изменено: {{ article.modified_at }}</p>
    <p><span class="glyphicon glyphicon-tags"></span> Метки:
        {% for tag in article.tags_as_list %}
            <a href="{{ url('blog') }}?tag={{ tag.slug }}">{{ tag.name }}</a>
        {% endfor %}
    </p>

    <hr>


    <!-- Post Content -->
    <p class="lead">{{ article.body|safe }}</p>

    <ul class="pager">
        <li class="previous">
            <a href="{{ url('blog') }}">← обратно</a>
        </li>
    </ul>


{% endblock content %}

{% block sidebar_footer %}
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Коротко</h4>
        <p>{{ article.summary }}</p>
    </div>
{% endblock sidebar_footer %}

