{% extends 'blog/base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ static('css/highlight/railscasts.css') }}">
    <script src="{{ static('js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock extra_head %}

{% block subtitle %} - {{ title }}{% endblock %}

{% block container %}
    <div class="content-side">
        <h1>{{ article.title }}</h1>
        <time class="date-lesson"><i></i> Изменено {{ article.modified_at }}</time>
        <ul class="tags">
            {% for tag in article.tags_as_list %}
                <li class="top_4"><a href="{{ url('blog') }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="description-lesson">
            {{ article.body|safe }}
        </div>

        <ul class="pager">
            <li class="previous">
                <a href="{{ url('blog') }}">← обратно</a>
            </li>
        </ul>
    </div>
{% endblock container %}

