{% extends 'blog/base.html' %}


{% block content %}
    <br />
    <h1 class="page-header">
        Записки программиста
        <small>понемногу обо всем</small>
    </h1>
    {% for article in articles %}
        <!-- Blog Post -->
        <h2>
            <a href="{{ url('blog_detail', article.slug) }}">{{ article.title }}</a>
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> Изменено {{ article.modified_at }}</p>
        <hr>
        <p>{{ article.summary }}</p>
        <hr>
    {% endfor %}

    <!-- Pager -->
{#    <ul class="pager">#}
{#        {% if screencasts.has_previous() %}#}
{#            <li class="previous">#}
{#                <a href="?{{ query_string }}page={{ screencasts.previous_page_number() }}">← сюда</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        {% if screencasts.has_next() %}#}
{#            <li class="next">#}
{#                <a href="?{{ query_string }}page={{ screencasts.next_page_number() }}">туда →</a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
{% endblock content %}
