{% extends 'blog/base.html' %}

{% block container %}
    <div class="content-side">
        <h1>
            Записки программиста
            <small>понемногу обо всем</small>
        </h1>
        <div class="lessons-list">
            {% for article in articles %}
                <div class="lessons-item">
                    <a href="{{ url('blog_detail', article.slug) }}" class="title">{{ article.title }}</a>
                    <div class="lesson">{{ article.summary }}</div>
                    <time class="date-lesson"><i></i> Изменено {{ article.modified_at }}</time>
                    <ul class="tags">
                        {% for tag in article.tags_as_list %}
                            <li class="top_4"><a href="{{ url('blog') }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    <!-- Pager -->
{#    <ul class="pager">#}
{#        {% if screencasts.has_previous() %}#}
{#            <li class="previous">#}
{#                <a href="?{{ query_string }}page={{ screencasts.previous_page_number() }}">← сюда</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        {% if screencasts.has_next() %}#}
{#            <li class="next">#}
{#                <a href="?{{ query_string }}page={{ screencasts.next_page_number() }}">туда →</a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
    </div>
{% endblock container %}
