{% extends 'blog/base.html' %}

{% block sidebar_footer %}
<div class="well">
    <h4>Метки</h4>
    <div class="row">
        {% for tag_slug, tag_name in tags.items() %}
            <a href="{{ url('blog') }}?tag={{ tag_slug }}">{{ tag_name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock sidebar_footer %}


{% block content %}
    <br />
    <h1 class="page-header">
        Записки пайтониста
        <small>понемногу обо всем</small>
    </h1>
    {% for article in articles %}
        <!-- Blog Post -->
        <h2>
            <a href="{{ url('blog_detail', article.slug) }}">{{ article.title }}</a>
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> Изменено {{ article.modified_at }}</p>
        <p><span class="glyphicon glyphicon-tags"></span> Метки:
            {% for tag in article.tags.all() %}
                {{ tag.name }}
            {% endfor %}
        </p>
        <hr>
        <p>{{ article.summary }}</p>
        <hr>
    {% endfor %}

    <!-- Pager -->
{#    <ul class="pager">#}
{#        {% if screencasts.has_previous() %}#}
{#            <li class="previous">#}
{#                <a href="?{{ query_string }}page={{ screencasts.previous_page_number() }}">← сюда</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        {% if screencasts.has_next() %}#}
{#            <li class="next">#}
{#                <a href="?{{ query_string }}page={{ screencasts.next_page_number() }}">туда →</a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
{% endblock content %}
