<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{% block title %}Главная{% endblock title %}</title>
    {% if DEBUG -%}
        <script src="{{ static('js/jquery_2_1_4.js') }}"></script>
        <script src="{{ static('js/bootstrap_3_3_2.js') }}"></script>
        <script src="{{ static('js/jquery_1_11_1.js') }}"></script>
        <link rel="stylesheet" href="{{ static('css/bootstrap_3_3_2.css') }}">
        <link rel="stylesheet" href="{{ static('css/bootstrap-theme_3_3_2.css') }}">
	{% else -%}
        <script src="{{ static('js/jquery_2_1_4.min.js') }}"></script>
        <script src="{{ static('js/bootstrap_3_3_2.min.js') }}"></script>
        <script src="{{ static('js/jquery_1_11_1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ static('css/bootstrap_3_3_2.min.css') }}">
        <link rel="stylesheet" href="{{ static('css/bootstrap-theme_3_3_2.min.css') }}">
    {% endif -%}
    <!--<link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">-->

	<script src="{{ static('js/script.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="{% block body_class %}p-main{% endblock %}">
{% set navigation_bar = [
('index', 'Начало'),
('screencasts', 'Скринкасты'),
('courses', 'Курсы'),
('blog', 'Блог'),
] -%}
{% set active_page = active_page|default('') -%}

<div class="container-fluid b-main">
	<div class="row b-main-row">
		<div class="main-menu-hidden">
			<img src="{{ static('img/logo-mobile.png') }}" alt="" class="logo logo-mobile">
			<ul class="top-menu">
                {% for url_name, caption in navigation_bar -%}
                    <li{% if url_name == active_page %} class="active"{% endif %}>
                        <a href="{{ url(url_name) }}">{{ caption }}</a>
                    </li>
                {% endfor -%}
                {% if request.user.is_authenticated() %}
{#                    TODO высушить мобильное меню и основное меню - приходится повторять, неудобно#}
                    <div class="wrap-user-nav">
                        <a href="/profile/" class="user-profile">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ request.user.username }}
                        </a>
                        <a href="/logout/" class="exit">Выход</a>
                    </div>
                {% else %}
                    <li><a href="" data-toggle="modal" class="user-nav login" data-target="#modal-login">Вход</a></li>
                    <li><a href="" data-toggle="modal" class="user-nav" data-target="#modal-registration">Регистрация</a>
                {% endif %}
			</ul>
		</div> <!-- mobile menu -->

		<a href="#" class="main-menu-toggle"></a> <!-- mobile menu button -->
		<div class="col-md-2 side-l main-menu">
			<div class="main-menu-wrap">
				<img src="{{ static('img/logo.png') }}" alt="" class="logo">
				<input type="text" placeholder="Поиск по сайту" class="form-control input-search">
				<!-- левое боковое меню -->
				<ul class="menu">
                  {% for url_name, caption in navigation_bar -%}
                    <li{% if url_name == active_page %} class="active"{% endif %}>
                        <a href="{{ url(url_name) }}">{{ caption }}</a>
                    </li>
                  {% endfor -%}
				</ul>
                {% block left_menu_footer -%}
                {% endblock left_menu_footer -%}
			</div>

		</div>
		<div class="col-md-10 side-r">

			<div class="wrapper-input-search-mobile">
				<input type="text" placeholder="Поиск по сайту" class="form-control input-search input-search-mobile">
			</div>

			<!-- навигация по сайту -->
			<nav class="nav-search">
				<menu>
                {% block submenu %}
{#					<div class="dropdown">#}
{#						<a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#							Разделы#}
{#						</a>#}
{#						<ul class="dropdown-menu">#}
{#							<li><a href="">Раздел 1</a></li>#}
{#							<li><a href="">Раздел 2</a></li>#}
{#							<li><a href="">Раздел 3</a></li>#}
{#							<li><a href="">Раздел 4</a></li>#}
{#							<li><a href="">Раздел 5</a></li>#}
{#							<li><a href="">Раздел 6</a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<a href="">Форум</a>#}
{#					<a href="">Пункт</a>#}
                {% endblock submenu %}
					<div class="wrap-user-nav">
                    {% if request.user.is_authenticated() %}
                        <div class="wrap-user-nav">
                            <a href="/profile/" class="user-profile">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ request.user.username }}
                            </a>
                            <a href="{{ url('logout') }}" class="exit">Выход</a>
                        </div>
                    {% else %}
                            <a href="" data-toggle="modal" data-target="#modal-login">Вход</a>
                            <a href="" data-toggle="modal" data-target="#modal-registration">Регистрация</a>
                    {% endif %}
					</div>
				</menu>
			</nav>
            {% block container %}
			<div class="b-tagline">
				<div class="text">
                    Здесь весь контент
				</div>
			</div>
            {% endblock container %}
		</div>
	</div>
</div>

<!-- модальное окно входа -->
<div class="modal login-modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Вход</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="{{ url('login') }}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="next" value="{{ request.path }}" />
					<fieldset>
						<div class="form-group">
							<label for="username" class="control-label col-xs-2">Имя пользователя</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="control-label col-xs-2">Пароль</label>
							<div class="col-xs-10">
								<input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
							</div>
						</div>
{#						<div class="form-group">#}
{#							<div class="col-xs-offset-2 col-xs-10">#}
{#								<div class="checkbox">#}
{#									<label><input type="checkbox" name="remember"> Запомнить</label>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<div class="form-group">
							<div class="col-xs-offset-2 col-xs-10">
								<button type="submit" class="btn btn-primary">Войти</button>
{#								<div class="social-links">#}
{#									<a href="" class="vk"></a>#}
{#									<a href="" class="fb"></a>#}
{#									<a href="" class="tw"></a>#}
{#								</div>#}
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- модальное окно регистрации -->
<div class="modal registration-modal fade" id="modal-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Регистрация</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="{{ url('registration') }}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<fieldset>
						<div class="form-group">
							<label for="username" class="control-label col-xs-2">Логин</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="username" name="username" placeholder="[a-zA-Z0-9_]*">
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="control-label col-xs-2">Email</label>
							<div class="col-xs-10">
								<input type="email" class="form-control" id="email" name="email" placeholder="email">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="control-label col-xs-2">Пароль</label>
							<div class="col-xs-10">
								<input type="password" class="form-control" id="password" name="password" placeholder=".{6:32}">
							</div>
						</div>
                        <div class="form-group">
                            <label for="password2" class="control-label col-xs-2">Повторите пароль</label>
                            <div class="col-xs-10">
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Повторите пароль">
                            </div>
                        </div>
{#						<div class="form-group">#}
{#							<div class="col-xs-offset-2 col-xs-10">#}
{#								<div class="checkbox">#}
{#									<label><input type="checkbox"> Запомнить</label>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<div class="form-group">
							<div class="col-xs-offset-2 col-xs-10">
								<button type="submit" class="btn btn-primary">Войти</button>
{#								<div class="social-links">#}
{#									<a href="" class="vk"></a>#}
{#									<a href="" class="fb"></a>#}
{#									<a href="" class="tw"></a>#}
{#								</div>#}
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

{% if not DEBUG -%}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71390404-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endif -%}

</body>
</html>
