{% extends 'base.html' %}
{% block title %}Начало{% endblock %}

{% block container %}

    <!-- Main component for a primary marketing message or call to action -->
    <br />
    <h1 class="page-header">
        Онлайн-школа Django
        <small>учитесь с удовольствием</small>
    </h1>
    <div class="jumbotron">
{#    <p>#}
{#        Тут нужно видео "О школе"#}
{#    </p>#}
    <p>
        Все изучающие новый язык программирования сталкиваются с проблемой реального применения знаний
        - вроде туториалов в сети много, а как сделать реальную задачу? как организовать проект? как его писать-то вообще?
    </p>
    <p>
        Наша онлайн-школа призвана разрешить ваши трудности.
        Обучение с наставником поможет правильно "поставить руку" в кодировнии,
        использование профессиональных средств и способов разработки (git, pycharm, отладка, рефактор)
        поможет влиться в семью профессионалов. Обучение популярному фреймворку Django откроет дорогу
        к новым возможностям трудоустройства (от Freelance до Yandex).
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="{{ url('courses') }}" role="button">Подробнее »</a>
    </p>
    </div>

{% endblock %}
