{% extends 'base.html' %}
{% block title %}Привет, мир!{% endblock %}

{% block container %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    <h1>Онлайн-школа Django</h1>
    <p>
        Тут нужно видео "О школе"
    </p>
    <p>
        Все изучающие новый язык программирования сталкиваются с проблемой реального применения знаний
        - вроде туториалов в сети много, а как сделать реальную задачу? как организовать проект? как его писать-то вообще?
    </p>
    <p>
        Наша онлайн-школа призвана разрешить ваши трудности.
        Обучение с наставником поможет правильно "поставить руку" в стиле кода,
        использование профессиональных средств и способов разработки (git, pycharm, отладка, рефактор)
        поможет влиться в семью профессионалов. Обучение популярному фреймворку Django откроет дорогу к ...
    </p>
    <p>
        Обучение идет в группах по 3-7 человек, через интернет, в удобное вечернее время.
        Практикуются командная разработка - вторая половина курса посвящена совместной разработке open source django-проекта.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="{{ url('screencasts') }}" role="button">Перейти к содержимому »</a>
    </p>
    </div>

{% endblock %}
