{% extends 'courses/base.html' %}
{% set active_submenu = 'courses_program' -%}
{% block subtitle %}Об авторе{% endblock %}

{% block container %}
    <div class="content-side">
        <h1>О наставнике</h1>
        <div class="pic">
            <img src="{{ static('img/shandrinov.jpg') }}" alt="">
            <a href="{{ url('courses_sign') }}" class="btn btn-default">Запишись!</a>
        </div>
        <p>
            Меня зовут Шандринов Вадим, мне 44 года, 25 лет программистского стажа
            (из них 15 - на Python). Писал системы автоматизации предпиятий,
            потом позвали на <a href="http://micex.ru" target="_blank">ММВБ</a> где трудился над сбором торговых данных
            и публикацией их в интернете. Приверженец чистого кода (тестирование, рефактор, шаблоны проектирования и #всетакое)<br/>
            + 6 лет преподавательского стажа.<br/>
        </p>
        <br>
        <p>
            В 2009 году пришел в Мытищинскую Школу Программистов и стал преподавать старшеклассникам основы Python
            без отрыва от производства, как хобби. Мы решаем задачки, рисуем на экране фракталы и снегопад, программируем
            поведение пчел и устраиваем танковые бои. Дети программируют AI робо-пчел и робо-танков на python,
            в игре обучаясь применению ООП и шаблонов проектирования.
            В 2012 году я <a href="http://habrahabr.ru/post/164229/" target="_blank">написал статью</a> об этом на хабр.
            В 2013 году мы с коллегами придумали курс "Промышленного программирования на Python"
            и вели его в <a href="http://yandex.ru">Yandex</a> - написали эмулятор Wireworld.
            C 2014 года преподаю Python и Django через интернет.
        </p>
        <br>
        <p>
            В 2009 году пришел в Мытищинскую Школу Программистов и стал преподавать старшеклассникам основы Python без отрыва от производства, как хобби. Мы решаем задачки, рисуем на экране фракталы и снегопад, программируем поведение пчел
            и устраиваем танковые бои. Дети программируют AI робо-пчел и робо-танков на python,
            в игре обучаясь применению ООП и шаблонов проектирования. В 2012 году
            я написал статью об этом на хабр. В 2013 году мы с коллегами придумали курс "Промышленного программирования на Python" и вели его в Yandex - написали эмулятор Wireworld. C 2014 года преподаю Python и Django через интернет.
        </p>
        <br>
        <p>
            Еще обо мне вы можете узнать на <a href="http://hh.ru/resume/cc9e2eb0ff02a3f6140039ed1f6f4c4d473771" target="_blank">HeadHunter</a>
            и на <a href="https://github.com/suguby" target="_blank">GitHub</a>
        </p>
    </div>
{% endblock container %}
