{% extends 'base.html' %}
{% set active_page = 'courses' -%}
{% block title %}Курсы - {% block subtitle %}{% endblock %}{% endblock %}

{% block body_class %}p-program mCustomScrollbar{% endblock %}

{% set submenu_items = [
('courses', 'О курсах'),
('courses_program', 'Программа'),
('courses_author', 'Об авторе'),
] -%}
{% set active_submenu = active_submenu|default('') -%}

{% block submenu %}
      {% for url_name, caption in submenu_items -%}
          <a href="{{ url(url_name) }}">{{ caption }}</a>
{#        {% if url_name == active_submenu %}#}
{#             {{ caption }}#}
{#        {% else %}#}
{#            <a href="{{ url(url_name) }}">{{ caption }}</a>#}
{#        {% endif %}#}
      {% endfor -%}
{% endblock submenu %}


{% block container %}
{% endblock container %}