{% extends 'base.html' %}
{% block title %}Курсы{% endblock %}

{% block container %}
    <div class="jumbotron">
    <h1>Курсы программирования "Научись Django"</h1>
    <p>
        Обучение идет в группах по 3-7 человек, через интернет, в удобное вечернее время.
        Практикуются командная разработка - вторая половина курса посвящена совместной разработке open source django-проекта.
    </p>
    <p>
        <h3>О наставнике</h3>
        <div>
            <img src="{{ static('img/shandrinov120.jpg') }}" class="img-responsive leftimg">
            Меня зовут Шандринов Вадим, мне уже 44 года, 25 лет программистского стажа
            (из них 15 - на Python). Писал системы автоматизации предпиятий,
            потом позвали на <a href="http://micex.ru" target="_blank">ММВБ</a> где трудился над сбором торговых данных
            и публикацией их в интернете. Приверженец чистого кода (тестирование, рефактор, шаблоны проектирования и #всетакое)<br/>
            + 6 лет преподавательского стажа.<br/>
            В 2009 году пришел в Мытищинскую Школу Программистов и стал преподавать старшеклассникам основы Python
            без отрыва от производства, как хобби. Мы решаем задачки, рисуем на экране фракталы и снегопад, программируем
            поведение пчел и устраиваем танковые бои. Дети программируют AI робо-пчел и робо-танков на python,
            в игре обучаясь применению ООП и шаблонов проектирования.
            В 2012 году я <a href="http://habrahabr.ru/post/164229/" target="_blank">написал статью</a> об этом на хабр.
            В 2013 году мы с коллегами придумали курс "Промышленного программирования на Python"
            и вели его в <a href="http://yandex.ru">Yandex</a> - написали эмулятор Wireworld.
            C 2014 года преподаю Python и Django через интернет.
            <br>
            Еще обо мне вы можете узнать на <a href="http://hh.ru/resume/cc9e2eb0ff02a3f6140039ed1f6f4c4d473771">HeadHunter</a>
            и на <a href="https://github.com/suguby">GitHub</a>
        </div>
    </p>
    <p>
        <h3>Программа курса:</h3>
        <ul>
            <li>вводное, основы git - 1 занятие</li>
            <li>python (основы, объектная модель, модули и библиотеки, функциональный подход, PEP8) - 3 занятия</li>
            <li>инструментарий разработчика (PyCharm, virtual enviroment, написание тестов, отладка) - 3 занятия</li>
            <li>основы django (основы, статич станицы, ОРМ, class based views, jinja2 templates, формы) - 4 занятия</li>
            <li>делаем проект (распределенная разработка на gitflow, тестирование, деплоймент) - 5 занятий</li>
            итого 16 занятий, ~4 месяца
        </ul>
        Акцент на самообучение - вы читете литературу, смотрите скринкасты по теме, делаете упражнения, коммитите решения, наставник проверяет и корректирует.
        На общих занятиях наставник отвечает на вопросы и рассказыает непонятные темы.
    </p>
      <a class="btn btn-lg btn-primary" href="{{ url('landing') }}" role="button">Запишись!</a>
    </p>
    </div>
{% endblock %}
