{% extends 'courses/base.html' %}
{% block subtitle %}О курсах{% endblock %}

{% block content %}
    <h2>Курсы программирования "Научись Django"</h2>
    <p>
        Помимо самостоятельного изучения Django по скринкастам я предлагаю Вам занятия в группе таких же начинающих
        как Вы. Группы собираются по 3-7 человек, обучение идет посредством интернет, в удобное вечернее время.
        Вы смотрите скринкасты в удобное Вам время, делаете домашние задания, отправляете наставнику на проверку.
        Наставник комментирует код и указывает на ошибки/недочеты. А раз в неделю происходит "очная ставка" всей группы
        для того, что бы вы могли задать свои вопросы и услышать ответы на чужие. Так же организуется slack-чат для
        онлайн общения группы и наставника. Все домашние задания делаются посредством GIT, подглядываение в чужой
        код - поощеряется.
    </p>
    <p>
        Так же практикуются командная разработка - в середине курса начнем общий django-проект на GitHub,
        изучим gitflow, поменяемся кодом и улучшим чужой код (внедряя новые требования).
    </p>
    <p>
        Полную программу курсы Вы можете посмотреть в разделе <a href="{{ url('courses_program') }}">Программа</a>,
        почитать о наставнике в разделе <a href="{{ url('courses_author') }}">Об авторе</a>.
    </p>
{% endblock %}
