{% extends 'base.html' %}
{% block title %}Курсы{% endblock %}

{% block container %}
    <div class="jumbotron">
    <h1>Курсы программирования на Python и Django</h1>
    <p>
        Обучение идет в группах по 3-7 человек, через интернет, в удобное вечернее время.
        Практикуются командная разработка - вторая половина курса посвящена совместной разработке open source django-проекта.
    </p>
    <p>
        Программа курса:
        <ul>
            <li>вводное, основы git - 1 занятие</li>
            <li>python (основы, объектная модель, модули и библиотеки, функциональный подход, PEP8) - 3 занятия</li>
            <li>инструментарий разработчика (PyCharm, virtual enviroment, написание тестов, отладка) - 3 занятия</li>
            <li>основы django (основы, статич станицы, ОРМ, class based views, jinja2 templates, формы) - 4 занятия</li>
            <li>делаем проект (распределенная разработка на gitflow, тестирование, деплоймент) - 5 занятий</li>
            итого 16 занятий, ~4 месяца
        </ul>
    </p>
    <p>
        О наставнике
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="{{ url('landing') }}" role="button">Регистрация »</a>
    </p>
    </div>
{% endblock %}
