{% extends 'courses/base.html' %}
{% block subtitle %}Программа{% endblock %}

{% block content %}
    <br/>
    <h2>Программа курсов "Научись Django"</h2>
    <dl>
        <dt>Урок 1.Вводный + основы GIT</dt>
        <dd>Фреймворк Django: что, для чего, как. Python3 и Django 1.9.
            Основы GIT: init, коммит, цепочка разработки,
            удаленный репозиторий, проталкивание, вытягивание</dd>

        <dt>Урок 2. Изучаем GIT</dt>
        <dd>Совместное редактирование файла на примере игры, разрешение конфликтов,
        ветвление, переключение между ветками, мердж, полезные команды</dd>

        <dt>Урок 3. Начало работы с Django</dt>
        <dd>Виртуальные окружения, установка пакета, создание проекта, структура проекта,
            файл настроек, запуск разработческого сервера, файл требований пакетов.</dd>

        <dt>Урок 4. Промышленные средства разработки</dt>
        <dd>Работа в IDE PyCharm, настройка PyCharm для работы с Django, отладка проекта,
            интроспекция запросов и исходных кодов. Рефактор кода и ренейминг. Понятие "чистого кода".
            Ресурсы для получения справок и знаний.</dd>

        <dt>Урок 5. Схема работы Django</dt>
        <dd>Понятие django-приложения (app). Роутер URL. Обьект запроса, обработка представления,
            обьект ответа. Формирование URL. Практика: создание статической страницы.</dd>

        <dt>Урок 6. Введение в Django ORM.</dt>
        <dd>База данных, таблица БД, модель ОРМ, соответствие полей. Настройка коннекта к БД,
            создание БД (MySQL или PostrgeSQL), миграции, Django админка </dd>

        <dt>Урок 7. Введение в Class Based Views.</dt>
        <dd>Структура классов, обработка запроса, методы get и post, наследование, TemplateView,
            обьект контекста и рендеринг шаблона.</dd>

        <dt>Урок 8. Введение в язык шаблонов Django.</dt>
        <dd>Синтаксис, операторы, наследование шаблонов, переопределение блоков.
            Создание сайта на основе BootStrap. Раздача статических файлов.</dd>

        <dt>Урок 9. Введение в формы</dt>
        <dd>Понятие формы и поля формы, валидация полей, связанная и несвязанная форма, хелпер ModelForm, виджеты полей.</dd>

        <dt>Урок 10-11. Создание своего APP в совместном проекте.</dt>
        <dd>Общий репозиторий, gitflow, набор урл, свои модели и миграции, редактирование данных через админку,
            отображение данных через фронт.</dd>

        <dt>Урок 12. Тестирование в Django.</dt>
        <dd>Что это и зачем. Тестовые классы, принципы, написание простейших тестов, покрытие тестами своего приложения.</dd>

        <dt>Урок 13. Разворачивание Django проекта на удаленном хостинге</dt>
        <dd>Подготовка файла сеттингов к деплойменту, клонирование проекта, создание и подключение к БД,
            установка NGNIX, установка UWSGI, создание конфигурационных файлов, настройка логирования,
            настройка статики и медиа файлов, запуск и останов веб-сервера.</dd>

        <dt>Урок 14. Продвинутый Django ORM.</dt>
        <dd>Связи таблиц, группировка резалт сета, менеджеры модели, ускорение запросов
            с помощью select и prefetch, сигналы моделей.</dd>

        <dt>Урок 15. Продвинутые Class Based Views.</dt>
        <dd>Миксины, виды классов, хелперы, паттерн проектирования шаблонный метод.</dd>

        <dt>Урок 16. Продвинутый язык шаблонов. </dt>
        <dd>Собственные тэги, инклюды шаблонов, шаблонизатор Jinja2, настройки сеттингов для шаблонов.</dd>

        <dt>Урок 17. Продвинутый Django.</dt>
        <dd>Middleware, регистрация пользователей, система прав.</dd>

        <dt>Урок 18. Django и JavaScript.</dt>
        <dd>Обработка Ajax запросов, генерация JS скриптов.</dd>

    </dl>
    <p>Итого 18 занятий, 36 академических часов, приблизительно 4 календарных месяца (занятия раз в неделю)</p>
{% endblock %}
