{% extends 'courses/base.html' %}
{% block subtitle %}Программа{% endblock %}

{% block content %}
    <h2>Программа курсов "Научись Django"</h2>
    <p>
    <ul>
        <li>вводное, основы git - 1 занятие</li>
        <li>python (основы, объектная модель, модули и библиотеки, функциональный подход, PEP8) - 3 занятия</li>
        <li>инструментарий разработчика (PyCharm, virtual enviroment, написание тестов, отладка) - 3 занятия</li>
        <li>основы django (основы, статич станицы, ОРМ, class based views, jinja2 templates, формы) - 4 занятия</li>
        <li>делаем проект (распределенная разработка на gitflow, тестирование, деплоймент) - 5 занятий</li>
        итого 16 занятий, ~4 месяца
    </ul>
    </p>
{% endblock %}
