<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

<table border="1">
	<tr>
		<td>
			Курсы промышленного программирования на python/django
		</td>
		<td>
			Звоните (916) 322-33-22
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Требования к прохождению курса такие:
- знание любого языка программирования - паскаль, пхп, етс.
- навыки администрирования ОС Linux Debian - установка пакетов и настройка программ (или изучите самостоятельно в процессе)
		</td>
	</tr>
	<tr>
		<td colspan="2">

Условия проведения:
- один раз в неделю (возможно два раза) по 2 академ часа, т.е. 1.5 часа обычного времени,
- занятия вечером, после 20-00, по рабочим дням, график определим все вместе
- занятия проводятся удаленно, по google hangouts - скорость канала должна быть не менее 1Мб
- операционная система - Linux Mint/Ubuntu/Debian (можно в virtualbox)
- производительное железо, обучение идет на PyCharm, он требователен к ресурсам (8Гб памяти как минимум + Core i5)
- обязательное выполнение домашних заданий (под управлением git)
		</td>
	</tr>
	<tr>
		<td colspan="2">

Программа курса:
- вводное, основы git - 1 занятие
- пайтон (база, объектная модель, модули и библиотеки, функциональный подход) - 2 занятия
- инструментарий разработчика (PyCharm, virtual enviroment, написание тестов, отладка) - 2 занятия
- основы django (ОРМ, class based views, jinja2 templates) - 2 занятия
- делаем проект (распределенная разработка на gitflow, тестирование, деплоймент) - 5 занятий
итого 12 занятий, ~3 месяца.
		</td>
	</tr>
	<tr>
		<td colspan="2">

Акцент на самообучение, я просто направляю и отвечаю на вопросы (на уроке и в скайп-чате)
Проект возьмем боевой, но простой. Каждому дадим пилить одну фичу (страницу, форму, етс).
Обложим тестами. Потом поменяемся кодом - нужно будет доработать чужую фичу
- очень полезный опыт для проф программиста.
		</td>
	</tr>
	<tr>
		<td colspan="2">

Cтоимость одного академ часа - 700 руб, 1400 руб за занятие. Всего 12 * 1400 = 16800 руб.
Оплата помесячно 4 * 1400 = 5600 руб, за 1 месяц вперед (или на две недели) - как намерение заниматься.
		</td>
	</tr>
</table>

</body>
</html>