<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ static('favicon.ico') }}">

    <title>Курсы пром.программирования на python</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bootstrap_3_3_2.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {#    <link href="navbar.css" rel="stylesheet">#}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Курсы промышленного программирования на Python/Django</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {#            <ul class="nav navbar-nav">#}
                {#              <li class="active"><a href="#">Home</a></li>#}
                {#              <li><a href="#">About</a></li>#}
                {#              <li><a href="#">Contact</a></li>#}
                {#            </ul>#}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Звоните (916)322-33-22<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Научись делать сайты на Django и заработай на этом!</h1>
    </div>
    <div class="row marketing">
        <p>
        <h3>Что ты получишь:</h3>
        <ul>
            <li>станешь уверенно писать программы на python, используюя обьектно-ориентированный подход</li>
            <li>будешь на ты с системой контроля версий GIT</li>
            <li>научишся разрабатывать сайты на Django, с начала и до деплоя</li>
            <li>научишся использовать проф. инструментарий разработчика</li>
            <li>получишь собственный код на github, который можно будет указывать в резуме</li>
            <li>сможешь поддерживать свой хостинг django-проектов на debian-based линукс сервере</li>
            <li>будешь получать удовольствие от написания устойчивого и красивого кода, покрытого тестами</li>
        </ul>
        </p>

        <p>
        <h3>Отзывы студентов:</h3>
        <ul>
            <li>Вася</li>
            <li>Петя</li>
            <li>Коля</li>
        </ul>
        </p>

        <p>
        <h3>Программа курса:</h3>
        <ul>
            <li>вводное, основы git - 2 занятия</li>
            <li>основы django (основы, статич станицы, ORM, class based views, django templates, формы) - 7 занятий</li>
            <li>начинаем делать совместный проект (распределенная разработка на gitflow, тестирование, деплоймент) - 4 занятия</li>
            <li>продвинутый django (ускорение запросов, миксины, регистрация и система прав, обработка Ajax запросов) - 5 занятий</li>
            итого 18 занятий, ~4 месяца
        </ul>
        </p>

        <p>
        <h3>Как проходят курсы:</h3>
        <ul>
            <li> в течении недели ты смотришь скринкасты по темам,</li>
            <li> потом ты делаешь домашку, отправляешь на сервер через git, наставник смотрит и комментирует код</li>
            <li> вопросы наставнику и/или другим студентам ты можешь задавать по slack/skype,</li>
            <li> один раз в неделю мы все встречаемся виртуально по google hangouts на 2 часа - разбираем непонятки, задаем вопросы,</li>
            <li> общая встреча проводится после 20:00, по рабочим дням, график определим все вместе</li>
            <li> Проект для общей разработки возьмем Open Source, но не очень сложный. Каждому дадим пилить одну фичу
            (страницу, форму, етс).</li>
            <li> Фомат обучения такой же как и с упражнениями - команда делает, коммитит, наставник проверяет и направляет.
            Обязательное покрытие кода тестами. Потом поменяемся кодом: нужно будет доработать чужую фичу (очень
            полезный опыт для проф. программиста).</li>
            <li> во время разработки общего проекта координация ведется через RedMine</li>
        </ul>
        </p>

        <p>
        <h3>Требования к ученикам и к оборудованию:</h3>
        <ul>
            <li>знание любого языка программирования - паскаль, пхп, етс.</li>
            <li>навыки администрирования ОС Linux Debian - установка пакетов и настройка программ (или изучите
                самостоятельно в процессе)</li>
            <li> скорость канала должна быть не менее 200Кбит</li>
            <li> операционная система - Linux Mint/Ubuntu/Debian (можно в virtualbox)</li>
            <li> производительное железо, обучение идет на PyCharm, он требователен к ресурсам (4Гб памяти как минимум +
                Core i3)
            </li>
        </ul>
        </p>

        <p>
        <h3>Цена:</h3>
            Cтоимость одной недели - 1000 руб.
            Схема оплаты:
            <ul>
                <li>первоначальная полная оплата 5-ти занятий: 4 в первом месяце + последнее занятие - как намерение заниматься</li>
                <li>далее оплата раз в неделю</li>
                <li>пропущенное занятие оплачивается в половинном размере</li>
                <li>если ты решаешь уйти в середине курса - деньги за последнее занятие не возвращаются. Те есть ты знаешь цену отказа.</li>
            </ul>

        </p>

        <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal">
              Записаться &raquo;
            </button>
        </p>
    </div>

</div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Укажите как с вами связаться</h4>
      </div>
    <form method="POST">
    {% csrf_token %}
      <div class="modal-body">
          {% for field in form %}
              <div class="input-group" >
                  <span class="input-group-addon" id="basic-addon1"></span>{{ field }}
              </div>
              {% for error in field.errors %}<div class="alert-warning">{{ error }}</div>{% endfor %}
              <br/>
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Записаться</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Вы записаны на курс!</h4>
      </div>
      <div class="modal-body">
        В ближайшее время с вами свяжутся для уточнения деталей.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Спасибо за регистрацию :)</button>
      </div>
    </div>
  </div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ static('js/jquery.js') }}"></script>
<script src="{{ static('js/bootstrap.min.js') }}"></script>
{% if show_register %}
    <script type="text/javascript">$('#registerModal').modal()</script>
{% endif %}
{% if show_thanks %}
    <script>$('#thanksModal').modal()</script>
{% endif %}


</body>
</html>

