{% extends 'base.html' %}
{% set active_page = 'screencasts' -%}

{% block title %}Скринкасты {% block subtitle %}{% endblock %}{% endblock %}

{% block body_class %}p-screencasts mCustomScrollbar{% endblock %}

{% block container %}
    <div class="content-side">
            <h1>Скринкасты о Джанго
            <span>Коротко о главном</span>
            </h1>
            <div class="screencasts-list row">
            </div>
    </div>
{% endblock container %}

{% block left_menu_footer -%}
    <ul class="tags">
        {% for tag in tags -%}
            <li class="top_{{ tag.range }}"><a href="{{ url('screencasts') }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock left_menu_footer -%}
