{% extends 'article_base.html' %}
{% set active_page = 'screencasts' -%}

{% block title %}Скринкасты {% block subtitle %}{% endblock %}{% endblock %}

{% block submenu %}
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Разделы
        </a>
        <ul class="dropdown-menu">
            {% for section in sections %}
                <li><a href="{{ section.link }}">{{ section.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url('go_pro') }}">PRO-версия сайта</a>
{% endblock submenu %}


{% block body_class %}p-screencasts mCustomScrollbar{% endblock %}

{% block container %}
    <div class="content-side">
            <h1>Скринкасты о Джанго
            <span>Коротко о главном</span>
            </h1>
            <div class="screencasts-list row">
            </div>
    </div>
{% endblock container %}
