{% extends 'screencasts/base.html' %}

{% block extra_head %}
{% endblock extra_head %}

{% block subtitle %} - {{ sc.title }}{% endblock %}

{% block container %}
    <div class="content-side lesson-absolute-block">
        <div class="wrap_lesson-video">
            {{ sc.iframe()|safe }}
            <time class="date-lesson"><i class="fa fa-clock-o"></i>{{ sc.modified_at }}</time>
            <ul class="tags">
                <i class="fa fa-tags fa-lg"></i>
                {% for tag in sc.tags.all() -%}
                    <li class="top_4"><a href="{{ url('screencasts') }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="description-lesson">
            <p>{{ sc.title }}</p>
            <p>{{ sc.pygmented_markdown() | safe }}</p>
        </div>
    </div>

    <ul class="pager">
        <li class="previous">
            <a href="{{ url(list_url_name) }}">← обратно</a>
        </li>
    </ul>

    {% include('comments.html') %}

{% endblock container %}

{% block paginator %}{% endblock %}