{% extends 'screencasts/base.html' %}

{#{% block extra_head %}#}
{#    <link rel="stylesheet" href="{{ static('css/highlight/railscasts.css') }}">#}
{#    <script src="{{ static('js/highlight.pack.js') }}"></script>#}
{#    <script>hljs.initHighlightingOnLoad();</script>#}
{#{% endblock extra_head %}#}

{% block subtitle %} - {{ sc.title }}{% endblock %}

{% block container %}
    <div class="content-side lesson-absolute-block">
    {% if has_access %}
        <div class="wrap_lesson-video">
            {{ sc.iframe()|safe }}
            <time class="date-lesson"><i class="fa fa-clock-o"></i>{{ sc.modified_at }}</time>
            <ul class="tags">
                <i class="fa fa-tags fa-lg"></i>
                {% for tag in sc.tags.all() -%}
                    <li class="top_4"><a href="{{ url('screencasts') }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="description-lesson">
            <p>{{ sc.title }}</p>
            <p>{{ sc.pygmented_markdown() | safe }}</p>
        </div>
    {% else %}
        {% include 'subscribe.html' %}
    {% endif %}
    </div>

    <ul class="pager">
        <li class="previous">
            <a href="{{ url('screencasts') }}">← обратно</a>
        </li>
    </ul>

{% endblock container %}
