{% extends 'screencasts/base.html' %}

{% block extra_head %}
{% endblock extra_head %}

{% block container %}
    <div class="content-side">
    <h1>Добавление скринкаста</h1>
    <div class="content-side">
        <form method="POST" action="{{ url('screencast_add') }}">
            {% csrf_token %}
            <fieldset>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="control-label col-xs-2">{{ field.label }}</label>
                    <div class="col-xs-3">
                        {{ field | replace_css_class('form-control') | safe }}
                    </div>
                    {% if field.errors %}
                        <div class="text-warning">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Сохранить" />
            </fieldset>
        </form>
        {{ form.media }}
    </div>

    <ul class="pager">
        <li class="previous">
            <a href="{{ url('screencasts') }}">← обратно</a>
        </li>
    </ul>

    </div>
{% endblock container %}

{% block paginator %}{% endblock %}