{% extends 'screencasts/base.html' %}

{%  block container %}
<div class="content-side">
    {% block content %}
        <h1>Скринкасты о Джанго
        <span>Коротко о главном</span>
        </h1>
        <div class="screencasts-list row">
            <div class="row">
                {% for sc in screencasts %}
                    <div class="screencasts-item col-md-4">
                        {{ sc.video | safe }}
                        <div class="title">{{ sc.title }}</div>
                        <div class="description">
                            {{ sc.summary }}
                        </div>
                        <a href="" class="btn btn-default">Посмотреть</a>
                    </div>
                    {%  if loop.index % 3 == 0 %}
                        </div>
                        <div class="row">
                    {%  endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock content %}
</div>
{% endblock %}