{% extends 'screencasts/base.html' %}

{% block container %}
    <div class="content-side">
    <h1>Скринкасты о Джанго
    <span>Коротко о главном</span>
    </h1>
    <div class="screencasts-list row">
        <div class="row">
    {% for article in articles -%}
            <div class="screencasts-item col-md-4">
                {{ article.video|safe }}
{#                TODO сделать вызов некоего метода, который выдаст правильный iframe#}
{#                <iframe class="lesson-video" width="" height="300" src="https://www.youtube.com/embed/KsLHt3D_jsE" frameborder="0" allowfullscreen></iframe>#}
                <div class="title">{{ article.title }}</div>
                <div class="description">
                    {{ article.summary }}<br />
                    <time class="date-lesson"><i></i>{{ article.modified_at }}</time>
                    <ul class="tags">
                        {% for tag in article.tags_as_list -%}
                            <li class="top_4"><a href="{{ url(list_url_name) }}?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ url('screencast_detail', article.slug) }}" class="btn btn-default">Посмотреть</a>
            </div>
        {% if loop.index %3 == 0 -%}
            </div>
            <div class="row">
        {%  endif -%}

    {% endfor -%}
        </div>

    <!-- TODO вынести в базовый для articles -->
    <ul class="pager">
        {% if articles.has_previous() %}
            <li class="previous">
                <a href="{{ url(list_url_name) }}?{{ url_filter }}page={{ articles.previous_page_number() }}">← сюда</a>
            </li>
        {% endif %}
        {% if articles.has_next() %}
            <li class="next">
                <a href="{{ url(list_url_name) }}?{{ url_filter }}page={{ articles.next_page_number() }}">туда →</a>
            </li>
        {% endif %}
    </ul>
    </div>
    </div>
{% endblock %}
