{% extends 'screencasts/base.html' %}

{% block container %}
    <div class="content-side">
        <h1>PRO-версия сайта
            <span>Скринкасты промышленного уровня</span>
        </h1>
    <p>
        Вы можете свободно смотреть скринкасты начального уровня - основы программирования сайтов на Django.
        С их помощью вы сможете написать простой сайт, поработать с БД, задеплоить сайт и т.п.
        Возможно, Вы сможете устроится работать джуниором.
    </p>
    <p>
        Если Вы хотите стать настоящим проффесионалом, то Вам нужен доступ к PRO-версии сайта.
        В этой версии доступны скринкасты о промышленном программировании на python/django:
        <br>
        &nbsp;&nbsp;&nbsp;&dash; архитектура и поддержание сложных проектов,<br />
        &nbsp;&nbsp;&nbsp;&dash;  обзор и использование библиотек,<br />
        &nbsp;&nbsp;&nbsp;&dash;  обьяснение шаблонов проектирования и т.п.<br />
    <p>
        PRO-версия сайта платная, после оплаты у Вам будет доступ ко всему контенту на определенный срок.
        Так же, если Вы проходите у нас курсы, то имеете доступ ко всем материалам сайта без исключения.
        <form action="{{ url('order') }}">
            {% csrf_token %}
            {{ form.tariff.label }}&nbsp;{{ form.tariff | set_css_class('size large')| safe }}
            <button class="label-info btn btn-payment">К оплате</button>
        </form>
    </div>
{% endblock %}
