{% extends 'screencasts/base.html' %}

{% block container %}
    <div class="content-side">
        <h1>PRO-версия сайта
            <span>Скринкасты продвинутого уровня</span>
        </h1>
    <p>
        Вы можете свободно смотреть скринкасты начального уровня - основы программирования сайтов на Django. С их помощью вы сможете написать простой сайт и даже устроится джуниором.
    </p>
        <p>
        Если вы хотите стать настоящим проффесионалом, то вам может понадобится доступ к PRO-версии сайта.
            В этой версии доступны скринкасты о промышленном программировании на python/django:
            <ul>
                <li>архитектура и поддержание сложных проектов,</li>
                <li>обзор и использование библиотек,</li>
                <li>обьяснение шаблонов проектирования и т.п.</li>
            </ul>
        <p>
        Доступ к PRO-версии сайта платный - выберите подходящий для вас тариф:
        <form action="{{ url('order') }}">
            {% csrf_token %}
            {{ form.tariff.label }}&nbsp;&nbsp;{{ form.tariff | replace_css_class('size large')| safe }}
            <button class="label-info">К оплате</button>
        </form>
    </div>
{% endblock %}
