{% extends 'base.html' %}
{% set active_page = 'forum:category_list' -%}
{% block title %}Форум{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        {% block content %}<br />

        <h1 class="page-header">
            Форум
            <small>болтатка</small>
        </h1>

        <div class="row">
            <div class="col-md-12 hidden-xs">
            <ol class="breadcrumb">
                <li class="active">Форум</li>
            </ol>
            </div>
	    </div>

    {% for category in category_list %}

    <div class="panel-group">
					<div class="panel panel-default">

							<div class="panel-heading">
								 <strong>{{ category }}</strong>
							</div>

						<div id="forum1" class="panel-collapse">

						<div class="panel-body">
							<div class="hidden-xs"><em>{{ category.description }}</em></div>
						</div>

							<table class="table table-hover">
								<thead>
									<tr>
										<th class="hidden-xs"></th>
										<th class="hidden-xs"></th>
										<th>Название форума</th>
										<th class="text-right">Темы</th>
										<th class="text-right">Отклики</th>
										<th class="hidden-xs">Последняя запись</th>
									</tr>
								</thead>
								<tbody>
                            {% for forum in category.forums.all()  %}
                            {% if forum %}
                                <tr>
							<!-- Forum Icon Based On Forum ID -->
							<td class="hidden-xs">
								<div class="show-forum-icon show">

								</div>
							</td>

							<td class="hidden-xs topic-marker-forum">
								<i class="fa fa-bell-o"></i>
							</td>

							<td class="col-md-6 col-sm-6">
								<div><a href="{{ forum.get_absolute_url() }}" title="Announcements"><strong>{{ forum.name }}</strong></a></div>
								<div class="hidden-xs"><em>{{ forum.description }}</em></div>

							</td>

							<td class="col-md-1 col-sm-1 text-right"><span class="badge">{{ forum.count_topics }}</span></td>

							<td class="col-md-1 col-sm-1 text-right"><span class="badge">{{ forum.count_posts }}</span></td>

							<td class="col-md-4 col-sm-4 hidden-xs">
								<div>
                                    {% if forum.get_last_post %}
										<a href="{{ forum.get_last_post.get_absolute_url }}">{{ forum.get_last_post }}</a><br>
										<i class="glyphicon glyphicon-time"></i> {{ forum.get_last_post.created | date ("DATETIME_FORMAT")}}<br>
										<i class="glyphicon glyphicon-user"></i> <a href="#">{{ forum.get_last_post.user }}</a>
                                    {% endif %}
								</div>
							</td>
						</tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody><tbody>
						</tbody></table>
					</div>
				</div>
			</div>
    {% endfor %}

    <div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Наиболее популярные записи</strong>
				</div>

				<div id="recent_topics" class="panel-collapse collapse in">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th class="col-md-6">Заголовок</th>
								<th class="col-md-1 text-right">Ответов</th>
								<th class="col-md-1 text-right">Просмотров</th>
								<th class="hidden-xs col-md-4">Автор</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                                <td class="col-md-6"><a href="#">Запись</a></td>
                                <td class="col-md-1 text-right"><span class="badge">3</span></td>
                                <td class="col-md-1 text-right"><span class="badge">87</span></td>
                                <td class="col-md-4 hidden-xs"><a href="#">Author</a></td>
		                    </tr>
						</tbody><tbody>
					</tbody></table>
				</div>
			</div>
		</div>

    <div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
            <strong>Статистика</strong>
		</div>
		<div id="visitor_stats" class="panel-collapse collapse in">
	  		<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<p><i class="glyphicon glyphicon-globe"></i> Наибольшее количество одновременного посещения: 07-11-2015 14:55</p>
						<p><i class="glyphicon glyphicon-user"></i> Всего зарегестрированно: 92</p>
						<p><i class="glyphicon glyphicon-comment"></i> Всего тем: 75</p>
						<p><i class="glyphicon glyphicon-comment"></i> Всего откликов: 131</p>
						<p><i class="glyphicon glyphicon-comment"></i> Всего записей: 206</p>
					</div>
					<div class="col-md-6">
						<p><i class="fa fa-sign-in"></i> Залогиненные: 0</p>
						<p><i class="fa fa-question"></i> Гости: 0</p>
					</div>
				</div>
				<div class="row hidden-xs">&nbsp;</div>
				<div class="row">
					<div class="col-md-12">
						<p><i class="glyphicon glyphicon-thumbs-up"></i> Новые:
                            <a href="#">Jeff Ricks</a>,&nbsp;</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p><i class="glyphicon glyphicon-eye-open"></i> Сейчас на форуме: </p>
					</div>
				</div>
	  		</div>
		</div>
	</div>
</div>

        {% endblock content %}
    </div>

</div>
{% endblock container %}