{% extends 'base.html' %}
{% set active_page = 'forum:category_list' -%}
{% block title %}Написать сообщение - Форум{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        {% block content %}<br />

        <h1 class="page-header">
            Форум
            <small>болталка</small>
        </h1>

        <div class="row">
            <div class="col-md-12 hidden-xs">
            <ol class="breadcrumb">
                <li><a href="{{ url('forum:category_list') }}">Форум</a></li>
                <li><a href="{{ topic.forum.get_absolute_url() }}">{{ topic.forum }}</a></li>
                <li><a href="{{ topic.get_absolute_url() }}">{{ topic }}</a></li>
                <li class="active">Сообщение</li>
            </ol>
            </div>
	    </div>

        <form id="submit_post" name="submit_post" method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-pencil fa-fw"></i> Сообщение</div>

                        <div class="panel-body">

                        <div class="alert alert-success" role="alert"><i class="fa fa-hand-o-right"></i>
                            Название топика: <strong>{{ topic }}</strong></div>

                            {{ form }}

                        <div class="clearfix">&nbsp;</div>

                    </div>
                    <div class="panel-footer">
                        <input type="submit" name="submit" class="btn btn-success" value="Опубликовать">
                    </div>
                    </div>
                </div>
            </div>
        </form>

        {% endblock content %}
    </div>

</div>
{% endblock container %}